.content-wrapper {
    margin-left: 50px;
    background: radial-gradient(176.81% 119.6% at 21.24% 110.83%, #05F 0%, rgba(0, 85, 255, 0.10) 80.29%), radial-gradient(460.55% 83.6% at -4.76% 100%, rgba(0, 85, 255, 0.90) 0%, rgba(0, 85, 255, 0.12) 91.35%), radial-gradient(117.09% 53.18% at 71.73% 122.78%, #05F 11.81%, rgba(15, 89, 247, 0.10) 100%), #001D57;
    height: 300px;
}

//////////////////////////////////// SALES PERSON GRID ////////////////////////////////////////

.performance-scorecard {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    // height: calc(100vh - 135px);
    max-height: calc(100vh - 176px);
    // height: auto;
    overflow: auto;
    max-width: 100%;

    .table {
        border-collapse: collapse;
        text-transform: capitalize;

        th,
        td {
            white-space: nowrap;
            vertical-align: top;
            padding: 8px;
            margin: 0;
            // box-shadow: inset 1px 0 1px 0 #cfd6de;
            box-shadow: inset 0 0 0 .3px #e0edff;
            border-bottom: none;
        }

        th:first-child,
        td:first-child {
            position: sticky !important;
            left: 0;
            z-index: 103;
            // min-width: fit-content;
            // max-width: fit-content;
            // width: fit-content;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        th:not(:first-child),
        td:not(:first-child) {
            text-align: end;
        }

        .bdr-rt {
            // border-right: 1px solid #abd0ec;
            border-right: 1px solid #0554ef;
        }

        thead {
            position: sticky;
            top: 0;
            z-index: 99;
            font-family: "Roboto";
            font-size: 0.875rem;
            text-transform: capitalize;
            font-weight: 700;

            th {
                text-align: center;
                // font-size: .8rem;
            }

            tr:nth-child(1) {
                background-color: #0554ef !important;
                color: #fff;
                align-items: center;
                // text-transform: uppercase;

                th,
                head {
                    // padding: 4px 6px;
                    border: none;
                    box-shadow: none;
                    // font-size: .8rem;
                    // font-family: "Roboto";
                    font-weight: 700;


                }

                th:first-child {
                    background-color: #0554ef;
                    text-align: start;
                    z-index: 103;
                }

                th:not(:first-child) {
                    text-align: center !important;
                    box-shadow: inset 1px 0 0px 0 #cfd6de;

                }

                th:nth-child(2) {
                    background-color: #0554ef;
                    z-index: 102;
                }
            }

            tr:nth-child(2) {
                background-color: #dbe7ff !important;
                color: #000;
                // font-family: "Roboto";
                // font-weight: 700;
                // font-size: .8rem;
                // text-transform: uppercase;

                th {
                    text-align: end;
                    padding: 4px 8px;
                }

                th:first-child {
                    background-color: #dbe7ff;
                    z-index: 103;
                    text-align: center;
                }

                th:nth-child(2) {
                    background-color: #dbe7ff;
                    z-index: 102;
                }

                th:nth-child(5),
                th:nth-child(6),
                th:nth-child(7),
                th:nth-child(8) {
                    text-align: center;
                }
            }

            tr:nth-child(3) {
                background-color: #dbe7ff !important;
                color: #000;

                th {
                    padding: 4px 8px;
                }

                th:nth-child(5),
                th:nth-child(7),
                th:nth-child(9),
                th:nth-child(11) {
                    text-align: center;
                }

                th:nth-child(6),
                th:nth-child(8),
                th:nth-child(10),
                th:nth-child(12) {
                    text-align: right;
                }
            }
        }

        .main-head {
            font-weight: 700;
            text-transform: capitalize !important;
        }

        tbody {
            font-family: "Roboto";
            // font-size: 0.9rem;
            font-size: 1rem;


            .member-row {

                // First td gets right blue border
                td:first-child {
                    border-right: 1px solid #0554ef; // vertical blue line
                }

                td {
                    background-color: #ffffff !important;
                    font-family: "Roboto";
                    padding-left: 1rem;
                    // text-align: left;
                    z-index: 9;
                }

                td {
                    padding: 4px 8px;
                    font-family: "Roboto";
                }

                td:not(:first-child) {
                    background-color: #ffffff !important;
                }

                td:nth-child(1) {
                    padding-left: 1rem;
                    text-align: left;
                    cursor: pointer;
                }
            }

            img {
                cursor: pointer;
            }

            tr:nth-child(even) {
                background-color: #f9fbff !important;
            }

            tr:nth-child(odd) {
                background-color: #ffffff;
            }

            tr:nth-child(even) {
                td:first-child {
                    background-color: #f9fbff; // Light blue for even rows
                }
            }

            tr:nth-child(odd) {
                td:first-child {
                    background-color: #ffffff !important; // White for odd rows
                }
            }

            td:first-child {
                // background-color: #fff;
                // font-family: "RobotoMedium";
                text-align: left;
                z-index: 9;

                .MemCount {
                    color: #125df0;
                }
            }

            .bdr-tp {
                border-top: 1px solid #0554ef;
            }

            .bdr-bt {
                border-bottom: 1px solid #0554ef;
            }

            td:not(:first-child) {
                text-align: end;
            }

            td:nth-child(1),
            td:nth-child(2),
            td:nth-child(7),
            td:nth-child(11),
            td:nth-child(15) {
                // border-right: 1px solid #0554ef !important;
                box-shadow: inset -1px 0px 0px 0px #0554ef;
                box-shadow:
                    inset 0 0.4px 0 0 #e0edff,
                    /* top */
                    inset -1px 0 0 0 #e0edff,
                    // inset -1px 0 0 0 #0554ef,
                    /* right */
                    inset 0 -0.4px 0 0 #e0edff,
                    /* bottom */
                    inset 0.4px 0 0 0 #e0edff;
                /* left */
            }

            tr:nth-child(even),
            tr:nth-child(odd) {
                background-color: #ffffff;
            }

            // td:nth-child(4),
            // td:nth-child(5),
            // td:nth-child(6),
            // td:nth-child(7),
            // td:nth-child(8),

            // td:nth-child(12),
            td:nth-child(16),
            td:nth-child(20),
            td:nth-child(24) {
                border-right: 1px solid #0554ef
            }

            .darkred-bg {
                background-color: #282828 !important;
                color: #fff;
            }

            .lightblue-bg {
                background-color: #646e7a !important;
                color: #fff;
            }



            .positive-bg {
                // background-color: #E0FAF0 !important;
                background-color: #c2f1c8 !important;
                color: #000 !important;
                cursor: default;
            }

            .negative-bg {
                // background-color: #FCEEF3 !important;
                background-color: #f1c2c2 !important;
                color: #000 !important;
                cursor: default;
            }

            .sticky-bottom-row {
                position: sticky;
                bottom: 0;
                background-color: #fff;
                z-index: 10;
                box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
            }

            .gold-bg {
                background-color: #ffa51a;
                color: #fff;
            }

            td:nth-child(5),
            td:nth-child(7),
            td:nth-child(9),
            td:nth-child(11){
                text-align: center;
            }

            td:nth-child(6),
            td:nth-child(8),
            td:nth-child(10),
            td:nth-child(12){
                text-align: right;
            }
        }

        .spacer {
            border: 1px solid #0554ef;
            min-height: 20px;
        }

        .hidden {
            display: none !important;
        }

    }
}

.Up-arrow-circle {
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

.Down-arrow-circle {
    background-color: #dc3545;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
}

/////////////////////////////////////BENCHMARK GRID////////////////////////////////////
.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: transparent !important;
    background-clip: padding-box;
    outline: 0;
    transition: transform .3s ease-in-out;
}

.view-benchmark-button {
    background-color: #c6dbff;
    color: #0554ef;
    border: none;
    border: none;
    padding: 6px 24px;
    font-family: "Roboto";
    font-size: .875rem;
    line-height: 1.25rem;
    border-radius: 12px;
    transition: all 0.3s ease;

    &:hover {
        border-radius: 50px;
        background-color: #d2e3fc;
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.custom-rounded-offcanvas {
    top: 80px;
    margin: 20px;
    border-radius: 16px;
    overflow: auto;
    width: auto !important;
    max-width: 100vw;
    height: auto !important;
    max-height: calc(100vh - 100px);
    max-height: 300px;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    height: auto !important;
    overflow-y: auto;
}

.head-button {
    background-color: #c6dbff;
    color: #0554ef;
    // background-color: #1e73e8;
    // color: white;
    border: none;
    border: none;
    padding: 4px 16px;
    font-family: "Roboto";
    font-size: .7rem;
    line-height: 1.25rem;
    border-radius: 12px;
    transition: all 0.3s ease;


    &:hover {
        // border-radius: 50px;
        background-color: #d2e3fc;
        cursor: pointer;
        // background-color: #2a84f7;
        border-radius: 50px;
    }

    &:focus {
        outline: none;
    }
}

.head-name {
    padding-left: 3rem;
    border: none;
    box-shadow: none;
    font-size: 14px;
    font-family: "Roboto" !important;
    font-weight: 700 !important;
}

              .dropdown-toggle {
                  background-color: transparent;
                  color: #0554ef;
                  border: none;
                  border-radius: 12px;
                  padding: 6px 12px;
                  font-size: .875rem;
                  line-height: 1.25rem;
                  font-family: 'RobotoMedium';
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  transition: background-color 0.3s ease;

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }

                  .arrow {
                      font-size: 10px;
                  }
              }

.popuppointer {
    cursor: pointer;
    color: #026df3 !important;
    text-decoration: underline;

    // pointer-events: none;
    // color: #000;
}

.popupdisable {
    pointer-events: none;
    color: #000;
    // text-decoration: underline;
}

.pointer {
    text-align: center;
    cursor: pointer;
    pointer-events: visible;
    // color: #2d7dcc;
    // text-decoration: underline;
}

.positive {
    background-color: lightgreen;
}

.negative {
    color: red;
}

.divBold {
    font-family: "Roboto" !important;
    text-transform: uppercase;
    font-weight: 700;
    // pointer-events: none;
}

// .cell-left {
//   float: left;
// }
// .cell-right {
//   float: right;
// }
// .negative {
//   color: red;
// }