  .report-bar {


      .filter-dropdowns {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.3rem;
          padding-bottom: 0.5rem;
          border-radius: 0.5rem;
          overflow-x: auto;
          overflow-y: hidden;

          .dropdown {
                 .dropdown-toggle {
                  background-color: transparent;
                  color: #0554ef;
                  border: none;
                  border-radius: 12px;
                  padding: 6px 12px;
                  font-size: .875rem;
                  line-height: 1.25rem;
                  font-family: 'RobotoMedium';
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  transition: background-color 0.3s ease;

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }

                  .arrow {
                      font-size: 10px;
                  }
              }
          }
      }

      .timeframe {
          position: fixed;
          z-index: 1060;
          // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      }

      .reportstores-card {
          background: #fff;
          padding: .75rem .5rem;
          border-radius: 18px;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
          width: max-content;
          // position: sticky;
          z-index: 1050;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          position: fixed;

          .groups,
          .stores {
              height: 100%;
          }

          .groups {
              width: auto;
              flex-shrink: 0;
          }

          .stores {
              flex: 1;
              overflow-x: auto;
              border-left: 1px solid #dbe7ff;
          }

          .groups-wrapper,
          .stores-wrapper {
              flex-grow: 1;
              display: flex;
              flex-direction: column;
          }

          .stores-wrapper {
              padding: 0rem 1rem 1rem 1rem;

              .allstores {
                  margin: 5px 0 12px 0;

                  a {
                      font-family: "Roboto";
                      font-size: .8rem;
                      line-height: 1.25rem;
                      cursor: pointer;
                  }
              }

              .store-columns {
                  display: grid;
                  grid-auto-flow: column;
                  grid-template-rows: repeat(8, auto);
                  grid-auto-columns: 150px;
                  gap: 0.5rem 1rem;
                  max-width: calc(6 * 118px);
                  overflow-x: auto;

                  .store-button {
                      width: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      text-align: center;
                      font-family: "Roboto";
                      font-size: .8rem;
                      border-radius: .75rem;
                      padding: .5rem;
                      line-height: 1rem;
                      text-transform: capitalize;

                      &.active {
                          background-color: #0554ef;
                          color: white;
                          // border-radius: 50px;
                          // border: 1px solid #0554ef;
                      }

                      &.inactive {
                          color: #0554ef;
                          background-color: white;
                          // border-radius: 50px;
                          // border: 1px solid #0554ef;
                      }

                      // &:hover {
                      //     background-color: #dbe7ff !important;
                      //     border-radius: 50px;
                      //     color: #0554ef;
                      // }
                  }

                  .btn-check:focus+.btn-outline-primary,
                  .btn-outline-primary:focus {
                      box-shadow: none !important;
                      outline: none !important;
                  }
              }
          }

          .groups-wrapper {
              .group-columns {
                  display: grid;
                  grid-auto-flow: column;
                  grid-template-rows: repeat(9, auto);
                  grid-auto-columns: 118px;
                  gap: 0.5rem 1rem;
                  max-width: calc(6 * 118px);
                  overflow-x: auto;
              }

              .group-button {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  font-family: "RobotoMedium";
                  font-size: .8rem;
                  border-radius: .5rem;
                  padding: .5rem .75rem;
                  line-height: 1rem;
                  text-align: left;
                  color: #18181B;

                  &.active {
                      background-color: #0554ef;
                      color: white;
                      // border-radius: 50px;
                      // border: 1px solid #0554ef;
                  }

                  &.inactive {
                      color: #0554ef;
                      background-color: white;
                      // border-radius: 50px;
                      // border: 1px solid #0554ef;
                  }

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }
              }
          }
      }

      .negative {
          color: red;
      }

  }

  .apply-button {
      background-color: #0554ef;
      color: #c6dbff;
      border: none;
      border: none;
      padding: 6px 24px;
      font-family: "RobotoMedium";
      font-size: .8rem;
      line-height: 1.25rem;
      border-radius: 12px;
      transition: all 0.3s ease;

      &:hover {
          border-radius: 50px;
          background-color: #0554ef;
          cursor: pointer;
      }

      &:focus {
          outline: none;
      }
  }