//////////////////////////////////// REPORT BAR ////////////////////////////////////////


.popuppointer {
  cursor: pointer;
  color: #026df3;
  text-decoration: underline;

  //  pointer-events: none;
  //   color: #000;
}

.popupdisable {
  pointer-events: none;
  color: #000;
  // text-decoration: underline;
}

.title {
  font-family: "RobotoBold";
  font-size: .9rem;
  margin-left: 1rem;

}

.notes {
  width: fit-content;
  padding: 0.2rem 0.5rem;
  margin-left: 2rem;
  font-size: .7rem;
  // float: inline-end;
}

.totals-block {
  background-color: #8db4ff;
  color: #000;
  border: none;
  border: none;
  padding: 8px 24px;
  font-family: "Roboto";
  font-size: .9rem;
  line-height: 1.25rem;
  border-radius: 8px;
  transition: all 0.3s ease;

  .divNormal {
    font-family: 'Roboto' !important;
  }

  .divBold {
    font-family: 'RobotoBold' !important;
    font-weight: 700;
  }
}

//////////////////////////////////// SALES PERSON GRID ////////////////////////////////////////


// .performance-scorecard {
//   display: flex;
//   flex-direction: column;
//   border-radius: 10px;
//   height: calc(100vh - 160px);
//   // height: auto;
//   overflow: auto;
//   max-width: 100%;

//   .table {
//     border-collapse: collapse;
//     text-transform: capitalize;

//     th,
//     td {
//       white-space: nowrap;
//       vertical-align: top;
//       padding: 8px;
//       margin: 0;
//       // box-shadow: inset 1px 0 1px 0 #cfd6de;
//       box-shadow: inset 0 0 0 .3px #e0edff;
//       border-bottom: none;
//     }

//     th:first-child,
//     td:first-child {
//       position: sticky;
//       left: 0;
//       z-index: 103;
//       // min-width: fit-content;
//       // max-width: fit-content;
//       // width: fit-content;
//       text-align: center;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }


//     th:not(:first-child),
//     td:not(:first-child) {
//       text-align: start;
//     }

//     thead {
//       position: sticky;
//       top: 0;
//       z-index: 99;
//       font-family: "Roboto";
//       font-size: 0.75rem;

//       th {
//         text-align: center;
//       }

//       tr:nth-child(1) {
//         background-color: #0554ef !important;
//         color: #fff;
//         // text-transform: capitalize;

//         th {
//           // padding: 4px 6px;
//           border: none;
//           box-shadow: none;
//           font-size: 14px;
//           font-family: "Roboto";
//           font-weight: 700;

//           span {
//             font-size: 14px;
//             font-family: "RobotoLight";
//             font-weight: lighter;
//           }

//           label {
//             font-size: 14px;
//             font-family: "RobotoLight";
//             font-weight: Bold;
//           }
//         }

//         th:first-child {
//           background-color: #0554ef;
//           z-index: 103;
//         }

//         th:not(:first-child) {
//           text-align: center !important;
//           box-shadow: inset 1px 0 0px 0 #cfd6de;

//         }

//         th:nth-child(2) {
//           background-color: #0554ef;
//           z-index: 102;
//         }
//       }

//       tr:nth-child(2) {
//         background-color: #dbe7ff !important;
//         color: #000;
//         font-family: "Roboto";
//         font-weight: 700;
//         font-size: 14px;
//         // text-transform: capitalize;

//         th {
//           text-align: end;
//           padding: 4px 8px;
//         }

//         th:first-child {
//           background-color: #dbe7ff;
//           z-index: 103;
//           text-align: center;
//         }

//         th:nth-child(2) {
//           background-color: #dbe7ff;
//           z-index: 102;
//         }
//       }
//     }

//     tbody {
//       font-family: "Roboto";
//       font-size: 1rem;

//       .member-row {
//         td:first-child {
//           font-family: "Roboto";
//           padding-left: 1rem;
//           text-align: left;
//           z-index: 9;
//         }

//         td {
//           padding: 4px 8px;
//           font-family: "Roboto";
//         }
//       }

//       tr:nth-child(even) {
//         background-color: #f9fbff !important;
//       }

//       tr:nth-child(odd) {
//         background-color: #ffffff;
//       }

//       tr:nth-child(even) {
//         td:first-child {
//           background-color: #f9fbff; // Light blue for even rows
//         }
//       }

//       tr:nth-child(odd) {
//         td:first-child {
//           background-color: #ffffff !important; // White for odd rows
//         }
//       }

//       td:first-child {
//         // background-color: #fff;
//         font-family: "RobotoMedium";
//         text-align: left;
//         z-index: 9;

//         .MemCount {
//           color: #125df0;
//         }
//       }

//       .bdr-tp {
//         border-top: 1px solid #0554ef;
//       }

//       .bdr-bt {
//         border-bottom: 1px solid #0554ef;
//       }

//       td:not(:first-child) {
//         text-align: start;
//       }

//       td:nth-child(1) // td:nth-child(6),

//       // td:nth-child(11),
//       // td:nth-child(16)
//         {
//         // border-right: 1px solid #0554ef !important;
//         box-shadow: inset -1px 0px 0px 0px #0554ef;
//         box-shadow:
//           inset 0 0.4px 0 0 #e0edff,
//           /* top */
//           inset -1px 0 0 0 #0554ef,
//           /* right */
//           inset 0 -0.4px 0 0 #e0edff,
//           /* bottom */
//           inset 0.4px 0 0 0 #e0edff;
//         /* left */
//       }

//       tr:nth-child(even),
//       tr:nth-child(odd) {
//         background-color: #ffffff;
//       }

//       .sub-title {
//         font-size: 0.8rem !important;
//       }

//       .sub-subtitle {
//         font-size: 0.7rem !important;
//       }

//       .text-normal {
//         font-family: "Roboto" !important;
//       }

//       .text-medium {
//         font-family: "RobotoMedium" !important;
//       }

//       .text-bold {
//         font-family: "RobotoBold";

//         td:first-child {
//           text-align: center;
//         }

//         td:nth-child(2) {
//           text-align: left;
//         }
//       }

//       .left-align {
//         text-align: left !important;
//       }

//       .right-align {
//         text-align: right !important;
//       }

//       .anchor-tag {
//         color: #125df0 !important;
//         text-decoration: underline;
//       }

//       .darkred-bg {
//         background-color: #282828 !important;
//         color: #fff;
//       }

//       .lightblue-bg {
//         background-color: #646e7a !important;
//         color: #fff;
//       }

//       .greaterThanVal {
//         color: green;
//         font-family: "RobotoBold";
//       }

//       .positive-bg {
//         // background-color: #E0FAF0 !important;
//         background-color: #c2f1c8 !important;
//         color: #000 !important;
//         cursor: default;
//       }

//       .negative-bg {
//         // background-color: #FCEEF3 !important;
//         background-color: #f1c2c2 !important;
//         color: #000 !important;
//         cursor: default;
//       }

//       .sticky-bottom-row {
//         position: sticky;
//         bottom: 0;
//         background-color: #fff;
//         z-index: 10;
//         box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
//       }

//       .gold-bg {
//         background-color: #ffa51a;
//         color: #fff;
//       }

//       .sticky-footer {
//         td:first-child {
//           position: sticky;
//           left: 0;
//           z-index: 104;
//           background-color: #fff !important;
//         }

//         td:nth-child(2) {
//           position: sticky;
//           left: 70px;
//           z-index: 103;
//           background-color: #fff !important;
//           text-align: right !important;
//           border-right: 1px solid #0554ef !important;
//         }

//         td {
//           // box-shadow: inset 0 1px 0 0 #0554ef;
//           // border-top: 2px solid #0554ef;
//           padding: 12px 8px;
//           background-color: #fff;
//           position: sticky;
//           text-align: left !important;
//           bottom: 0;
//           font-family: "RobotoBold";
//           z-index: 102;
//           font-size: 1rem;
//         }
//       }
//     }

//     .spacer {
//       border: 1px solid #0554ef;
//       min-height: 20px;
//     }

//     .hidden {
//       display: none !important;
//     }

//   }
// }

.performance-scorecard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: calc(100vh - 175px);
  padding-right: .3rem;
  overflow: auto;
  max-width: 100%;

  .table {
    border-collapse: collapse;
    text-transform: capitalize;
    border-radius: 10px;
    background: #fff;
    font-family: 'Roboto';
    max-width: 100%;
    position: relative;

    th,
    td {
      white-space: nowrap;
      vertical-align: top;
      padding: 0.25rem 0.7rem;
      margin: 0;
      // box-shadow: inset 0 0 0 .3px #e0edff;
     box-shadow: inset 0 0 0 .4px #0554ef;
      border-bottom: none;
      text-transform: capitalize !important;
    }

    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      z-index: 103;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th:not(:first-child),
    td:not(:first-child) {
      text-align: end;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 99;
      font-family: "Roboto";
      font-size: 0.875rem;

      th {
        text-align: center;
      }

      tr:nth-child(1) {
        background-color: #0554ef !important;
        color: #fff;

        th {
          // padding: 4px 6px;
          border: none;
          box-shadow: none;
          font-size: .875rem;
          font-family: "Roboto";
          font-weight: 700;

          span {
            font-size: .875rem;
            font-family: "RobotoLight";
            font-weight: lighter;
          }
        }

        th:first-child {
          background-color: #0554ef;
          z-index: 103;
        }

        th:not(:first-child) {
          text-align: center !important;
          box-shadow: inset 1px 0 0px 0 #cfd6de;

        }

        th:nth-child(2) {
          background-color: #0554ef;
          z-index: 102;
        }
      }

      tr:nth-child(2) {
        background-color: #dbe7ff !important;
        color: #000;
        font-family: "Roboto";
        // text-transform: uppercase;
        font-weight: 700;
        font-size: .875rem;

        th {
          text-align: center;
          padding: 0.25rem 0.5rem;
        }

        th:first-child {
          background-color: #dbe7ff;
          z-index: 103;
          text-align: center;
        }

        th:nth-child(2) {
          background-color: #dbe7ff;
          z-index: 102;
        }
      }
    }

    tbody {
      font-family: "Roboto";
      font-size: 1rem;

      .member-row {
        td:first-child {
          font-family: "Roboto";
          padding-left: 1rem;
          text-align: left;
          z-index: 9;
        }

        td {
          padding: 4px 8px;
          font-family: "Roboto";
        }
      }

      tr:nth-child(even) {
        background-color: #f9fbff;
      }

      tr:nth-child(odd) {
        background-color: #ffffff;
      }

      tr:nth-child(even) {
        td:first-child {
          background-color: #f9fbff;
        }
      }

      tr:nth-child(odd) {
        td:first-child {
          background-color: #ffffff;
        }
      }

      td:first-child {
        // background-color: #fff;
        font-family: "Roboto";
        text-align: left;
        z-index: 9;
        // padding-left: 1.5rem;

        .MemCount {
          color: #125df0;
        }
      }

      .bdr-tp {
        border-top: 1px solid #0554ef;
      }

      .bdr-bt {
        border-bottom: 1px solid #0554ef;
      }

      td:not(:first-child) {
        text-align: end;
      }


      .negative {
        color: red;
      }

      .sub-title {
        font-size: 1rem !important;
      }

      .sub-subtitle {
        font-size: 0.7rem !important;
      }

      .text-normal {
        font-family: "Roboto" !important;
      }

      .text-medium {
        font-family: "RobotoMedium" !important;
      }

      .text-bold {
        font-family: "Roboto";
        font-weight: 700;
        pointer-events: none !important;

        td:first-child {
          text-align: center;
        }

        td:nth-child(2) {
          text-align: left;
        }
      }

      .darkred-bg {
        background-color: #282828 !important;
        color: #fff;
      }

      .PaddLeft {
        padding-left: 1.5rem !important;
      }

      .lightblue-bg {
        background-color: #c6dbff !important;
        color: #000;
        font-family: 'Roboto';
        font-weight: 700;

        td:not(:first-child) {
          color: #c6dbff !important;
          box-shadow: none;
        }

        td:first-child {
          background-color: #c6dbff !important;
          padding-left: 0.5rem !important;
          box-shadow: none;
        }
      }

      .greaterThanVal {
        color: green;
        font-family: "RobotoBold";
      }

      .positive-bg {
        // background-color: #E0FAF0 !important;
        background-color: #c2f1c8 !important;
        color: #000 !important;
        cursor: default;
      }

      .negative-bg {
        // background-color: #FCEEF3 !important;
        background-color: #f1c2c2 !important;
        color: #000 !important;
        cursor: default;
      }

      .sticky-bottom-row {
        position: sticky;
        bottom: 0;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
      }

      .gold-bg {
        background-color: #ffa51a;
        color: #fff;
      }

      .sticky-footer {
        td:first-child {
          position: sticky;
          left: 0;
          z-index: 104;
          background-color: #fff !important;
        }

        td:nth-child(2) {
          position: sticky;
          left: 70px;
          z-index: 103;
          background-color: #fff !important;
          text-align: right !important;
          border-right: 1px solid #0554ef !important;
        }

        td {
          // box-shadow: inset 0 1px 0 0 #0554ef;
          // border-top: 2px solid #0554ef;
          padding: 12px 8px;
          background-color: #fff;
          position: sticky;
          text-align: right !important;
          bottom: 0;
          font-family: "RobotoBold";
          z-index: 102;
          font-size: 1rem;
        }
      }
    }

    .spacer {
      border: 1px solid #0554ef;
      min-height: 20px;
    }

    .hidden {
      display: none !important;
    }

  }
}


.Benchmark-tbl {
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  // border-radius: 12px;
  height: auto;
  overflow: auto;
  max-width: fit-content;
  margin: 0% 19%;

  .table {
    border-collapse: collapse;
    text-transform: capitalize;

    th,
    td {
      white-space: nowrap;
      vertical-align: top;
      min-width: 150px;
      max-width: 150px;
      width: 150px;
      padding: 4px 8px;
      margin: 0;
    }

    th {
      border: 1px solid #8db4ff;
    }

    td {
      border: 1px solid #dbe7ff;
      padding: 8px !important;
    }

    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      z-index: 103;
      min-width: 150px;
      max-width: 150px;
      width: 150px;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th:not(:first-child):not(:nth-child(2)),
    td:not(:first-child):not(:nth-child(2)) {
      text-align: end;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 99;
      font-family: "RobotoBold";
      font-size: 14px;

      tr:nth-child(1) {
        background-color: #dbe7ff !important;
        color: #000;

        th {
          border: none;
          box-shadow: none;
        }

        th:first-child {
          background-color: #dbe7ff;
          text-align: left;
          z-index: 103;
        }

        th:not(:first-child) {
          text-align: center !important;
          text-align: right !important;
        }

        th {
          border: 1px solid #8db4ff;
        }
      }
    }

    tbody {
      font-family: "Roboto";
      font-size: 16px;
      line-height: 24px;

      td:first-child {
        color: #000;
        text-align: left;
        z-index: 10;
      }

      td:not(:first-child) {
        text-align: end;
      }

      tr:nth-child(even) {
        background-color: #f9fbff;
      }

      tr:nth-child(odd) {
        background-color: #ffffff;
      }


      .text-bold {
        font-family: "RobotoBold";

        td:first-child {
          text-align: center;
        }

        td:nth-child(2) {
          text-align: left;
        }
      }

      .sticky-bottom-row {
        position: sticky;
        bottom: 0;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
      }


      .sticky-footer {
        td:first-child {
          position: sticky;
          left: 0;
          z-index: 104;
          background-color: #fff !important;
          text-align: center;
        }

        td:nth-child(2) {
          position: sticky;
          left: 50px;
          z-index: 103;
          background-color: #fff !important;
          text-align: left;
        }

        td {
          position: sticky;
          bottom: 0;
          font-family: "RobotoBold";
          z-index: 102;
          font-size: 0.9rem;
        }
      }

      tr:last-child td:first-child {
        border-bottom-left-radius: 12px;
        // border: none;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius: 12px;
        // border: none;
      }
    }
  }
}

.bg-white {
  background: #ffffff !important;
}

.hidden {
  display: none !important;
}

.disable {
  pointer-events: none !important;
  // display: none;
  color: #363b4f;
}

.Selectedrow {
  background-color: #363b4f !important;
  color: white !important;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 1cm;
    /* Adjust the margin as needed */
  }

  .NavBarHide {
    display: none;
  }

  #ServiceAdvisorRankings {
    .performance-scorecard {
      width: 100%;
      height: auto;

      table,
      td,
      th {
        border-collapse: collapse;
      }

      tr:nth-child(1) th {
        .HideItems {
          display: none;
        }
      }

      th {
        padding: 2px 4px;
        font-size: 0.75vw;
      }

      tr th:last-child {
        padding-right: 6px;
      }

      td {
        padding: 2px 4px;
        font-size: 0.75vw;
      }

      .HideItems {
        display: none;
      }
    }
  }
}



.loader {
  border: 5px solid #c8bdbd;
  border-radius: 50%;
  border-top: 5px solid #2d91f1;
  width: 50px;
  height: 50px;
  animation: spin .7s linear infinite;
  top: 5rem;
  position: absolute;
  z-index: 999;
  left: 11rem;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::ng-deep .connectedmodal .modal-content {
    border-radius: 20px !important;
    width: 100% !important;
    background-color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}
 
::ng-deep .connectedmodal .modal-dialog {
    // max-width: 1100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}
 
// @media (max-width: 1100px) {
//     ::ng-deep .connectedmodal .modal-dialog {
//         max-width: 90% !important;
//     }
// }