.filter-dropdowns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    // border-radius: 1.5rem;

    .dropdown {
              .dropdown-toggle {
                  background-color: transparent;
                  color: #0554ef;
                  border: none;
                  border-radius: 12px;
                  padding: 6px 12px;
                  font-size: .875rem;
                  line-height: 1.25rem;
                  font-family: 'RobotoMedium';
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  transition: background-color 0.3s ease;

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }

                  .arrow {
                      font-size: 10px;
                  }
              }
    }
}


  .apply-button {
      background-color: #0554ef;
      color: #c6dbff;
      border: none;
      border: none;
      padding: 6px 24px;
      font-family: "RobotoMedium";
      font-size: .8rem;
      line-height: 1.25rem;
      border-radius: 12px;
      transition: all 0.3s ease;

      &:hover {
          border-radius: 50px;
          background-color: #0554ef;
          cursor: pointer;
      }

      &:focus {
          outline: none;
      }
  }

.reportstores-card {
    background: #fff;
    padding: .75rem .5rem;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: max-content;
    // position: sticky;
    z-index: 1050;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;

    .groups,
    .stores {
        height: 100%;
    }

    .groups {
        width: 140px;
        flex-shrink: 0;
    }

    .stores {
        flex: 1;
        overflow-x: auto;
        border-left: 1px solid #dbe7ff;
    }

    .stores-b {
        flex: 1;
        overflow-x: auto;
        //   border-left: 1px solid #dbe7ff;
    }

    .groups-wrapper,
    .stores-wrapper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .stores-wrapper {
        padding: 0rem 1rem 1rem 1rem;

        .allstores {
            margin: 5px 0 12px 0;

            a {
                font-family: "Roboto";
                font-size: .875rem;
                line-height: 1.25rem;
            }
        }

        .store-columns {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(8, auto);
            grid-auto-columns: 118px;
            gap: 0.5rem 1rem;
            max-width: calc(6 * 118px);
            overflow-x: auto;

            .store-button {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                font-family: "Roboto";
                font-size: .75rem;
                border-radius: .75rem;
                padding: .5rem;
                line-height: 1rem;

                &.active {
                    background-color: #0554ef;
                    color: white;
                    // border-radius: 50px;
                    // border: 1px solid #0554ef;
                }

                // &:hover {
                //     background-color: #0554ef;
                //     border-radius: 50px;
                //     color: white;
                // }
                &.active:hover{
                    border-radius: 50px;
                }

                &:not(.active):hover {
                    // background-color: #0554ef;
                    background: none !important;
                    border-radius: 50px;
                    color: #0554ef;
                }
            }

            .btn-check:focus+.btn-outline-primary,
            .btn-outline-primary:focus {
                box-shadow: none !important;
                outline: none !important;
            }
        }
    }

    .groups-wrapper {
        .group-columns {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .group-button {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: "RobotoMedium";
            font-size: .875rem;
            border-radius: .5rem;
            padding: .5rem .75rem;
            line-height: 1rem;
            text-align: left;
            color: #18181B;

            &.active {
                background-color: #0554ef;
                color: white;
                // border-radius: 50px;
                // border: 1px solid #0554ef;
            }

            // &:hover {
            //     background-color: #0554ef;
            //     border-radius: 50px;
            //     color: white;
            // }
        }
    }
}

.filter-dropdowns {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    // border-radius: 1.5rem;

    .dropdown {
                   .dropdown-toggle {
                  background-color: transparent;
                  color: #0554ef;
                  border: none;
                  border-radius: 12px;
                  padding: 6px 12px;
                  font-size: .875rem;
                  line-height: 1.25rem;
                  font-family: 'RobotoMedium';
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  transition: background-color 0.3s ease;

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }

                  .arrow {
                      font-size: 10px;
                  }
              }
    }
}


.timeframe {
    position: absolute;
    z-index: 1060;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.date-filter-card {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: fit-content;
    font-family: 'Roboto';
    min-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.outline-button {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #0554ef;
    border-radius: 12px;
    background-color: #fff;
    color: #0554ef;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: background-color 0.2s ease;

    i {
        font-size: 18px;
    }

    &.active {
        background-color: #0554ef;
        color: white;
        // border-radius: 50px;
        // border: 1px solid #0554ef;
    }

    // &:hover {
    //     background-color: #0554ef;
    //     border-radius: 50px;
    //     color: white;
    // }

    &.custom-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }
}

hr {
    width: 100%;
    margin: 0 0;
    color: #000;
    background-color: #111;
    border: 0;
    opacity: .25;
    height: 1px;
}

.custon-height {
    height: 10px;
}


::ng-deep bs-daterangepicker-container {
    z-index: 1080;
}

::ng-deep .bs-datepicker {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    background: #fff;
    box-shadow: 0 0 10px 0 #aaa;
    position: relative;
    z-index: 1;
    border-radius: 12px;
    // top: 50px ;
    // right: 167px ;
    // left: 11.6rem;
}

::ng-deep .theme-green .bs-datepicker-head {
    background-color: #fff;

}

::ng-deep .bs-datepicker-head {
    min-width: 270px;
    height: 30px;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    text-align: justify;
}

::ng-deep .bs-datepicker-head button {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto';
    padding: 0;
    height: 30px;
    line-height: 30px;
    border: 0;
    background: transparent;
    text-align: center;
    cursor: pointer;
    color: black;
    transition: 0.3s;
}

::ng-deep .bs-datepicker-head button[disabled],
.bs-datepicker-head button[disabled]:hover,
.bs-datepicker-head button[disabled]:active {
    background: #fff;
    color: #000;
    cursor: not-allowed;
}

::ng-deep .bs-datepicker-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 0px;
    border-top: none;
}

::ng-deep .bs-datepicker-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
    min-height: 190px;
    min-width: 270px;
    border: none;
}

::ng-deep .bs-datepicker-body table th {
    font-size: 13px;
    color: #000;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

::ng-deep .bs-datepicker-body table td {
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    position: relative;
    padding: 0;
}

::ng-deep .bs-datepicker-body table.days span {
    width: 24px;
    height: 24px;
    font-family: 'Roboto';
    line-height: 24px;
}

::ng-deep .theme-green .bs-datepicker-body table td span.selected,
.theme-green .bs-datepicker-body table td.selected span,
.theme-green .bs-datepicker-body table td span[class*=select-]:after,
.theme-green .bs-datepicker-body table td[class*=select-] span:after {
    background-color: #0554ef;
}

::ng-deep .theme-green .bs-datepicker-body table td span[class*=select-]:before,
.theme-green .bs-datepicker-body table td[class*=select-] span:before {
    background: #e9edf0 !important;
    height: 20px;
    margin-top: -3px;
    font-family: 'Roboto';
}

::ng-deep .bs-datepicker-body table.days td.active:not(.select-start):before,
.bs-datepicker-body table.days td.in-range:not(.select-start):before,
.bs-datepicker-body table.days span.active:not(.select-start):before,
.bs-datepicker-body table.days span.in-range:not(.select-start):before {
    background: none !important;
}

::ng-deep .bs-datepicker-body table.days td.active,
.bs-datepicker-body table.days td.in-range,
.bs-datepicker-body table.days span.active,
.bs-datepicker-body table.days span.in-range,
.bs-datepicker-body table.days span.select-start {
    background: #e9edf0 !important;
    height: 20px;
    margin-top: -3px;
    font-family: 'Roboto';
}

::ng-deep .is-other-month {
    display: none !important;
}

::ng-deep .bs-datepicker-container {
    padding: 10px;
}

// ::ng-deep .ngx-slider .ngx-slider-bar {
//     // background-color: #0554ef !important;
// }

::ng-deep .ngx-slider .ngx-slider-selection {
    background-color: #2a84f7 !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer {
    background-color: #2a84f7 !important;
}

@media (max-width: 1900px){
  bs-daterangepicker-container{
    top: -17rem !important;
    left: 23rem !important;
  }
}