.form-control {
    padding: 0.2rem .5rem 0.2rem .5rem !important;
    font-family: "Roboto";
    font-size: 0.8rem;
    // background: #f1f1f1;
    background-color: white;
    border-radius: 7px;
    width: 100%;
}

.fa-magnifying-glass {
    color: #026df3 !important;
    font-size: 1rem;
    margin-left: -25px !important;
    cursor: pointer;
}


.title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: .8rem;
    padding-left: 1rem;
    text-align: left !important;
}

.notes {
    width: fit-content;
    padding: 0.2rem 0.5rem;
    margin-right: 3rem;
    font-size: .7rem;
    text-align: left !important;
    margin-left: 2rem;
    white-space: normal;

    // float: inline-end;
}

.clicked-button {
    color: #fff;
    background-color: #337ab7;
    outline: none !important;
    border-radius: 4px;
    font-size: 0.8rem;
    border: none;
    font-family: "Roboto";
    min-height: 1rem;
    // padding: 2px 12px;
    padding-top: 3px !important;

}

button {
    background-color: #ccc;
    /* Grey color */
    color: #000;
    /* Black text color */
    outline: none !important;
    border-radius: 4px;
    margin: 3px;
    font-size: 0.8rem;
    border: none;
    font-family: "Roboto";
    min-height: 1rem;
    // padding: 2px 12px;
    padding-top: 3px !important;
}

.disabled-button {
    opacity: 0.5;
    /* Apply opacity */
}

.pagination {
    font-family: "Roboto";
    font-size: .8rem;
}


.time_stamp {
    // margin-left: -6rem;
    padding: 0.2rem .5rem;
    background-color: #fff;
    color: #2d91f1;
    border-radius: 6px;
    width: 30%;
}

.align-left {
    text-align: left !important;
}

.align-cntr {
    text-align: center !important;
}

.gross-tbl-scroll {
    display: flex;
    flex-direction: column;
    max-height: 35vh;
    min-height: 20vh;
    overflow: auto;

    .table>:not(:first-child) {
        border-top: 0px solid #ffa51a
    }

    .table {
        text-align: center;
        text-transform: capitalize;
        border: transparent;

        width: 100%;

        th,
        td {
            white-space: nowrap;
            vertical-align: top;
        }


        th:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            // background-color: #337ab7;
            // z-index: 700;

        }

        td:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            // background-color: #337ab7;
            // z-index: 600;

        }

        // th:nth-child(2),
        // td:nth-child(2) {
        //     position: sticky;
        //     // left: 248px;
        //     left: 194px;

        //     z-index: 1;
        //     background-color: #337ab7;
        // }

        tr:nth-child(odd) {

            td:first-child,
            td:nth-child(2) {
                // background-color: #e9ecef;
                background-color: #ffffff;
                color: black;
            }
        }

        tr:nth-child(even) {

            td:first-child,
            td:nth-child(2) {
                background-color: #ffffff;
                color: black;
            }
        }

        tr:nth-child(odd) {
            // background-color: #e9ecef;
            background-color: #ffffff;

        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }


        .spacer {
            // width: 50px !important;
            background-color: #cfd6de !important;
            border-left: 1px solid #cfd6de !important;
            border-bottom: 1px solid #cfd6de !important;
            border-top: 1px solid #cfd6de !important;
        }

        .hidden {
            display: none !important;
        }

        .bdr-rt {
            border-right: 1px solid #abd0ec;
        }

        thead {
            position: sticky;
            // top: 0;
            // z-index: 700;

            th {
                padding: 5px 10px;
                margin: 0px;
                background-color: #dde9f3;
            }

            font-family: 'Roboto';
            font-weight: 700;

            .bdr-btm {
                border-bottom: #005fa3;
            }

            tr:nth-child(1) {
                background-color: #fff !important;
                color: #000;
                // text-transform: uppercase;
                text-transform: capitalize;
                border-bottom: #cfd6de;
                font-size: 0.8rem;

            }

            tr:nth-child(2) {
                background-color: #fff !important;
                color: #000;
                // text-transform: uppercase;
                text-transform: capitalize;
                border-bottom: #cfd6de;
                box-shadow: inset 0 1px 0 0 #cfd6de;
                font-size: 0.7rem;


                // th :nth-child(1) {
                //     // background-color: #337ab7 !important;
                //     // color: #fff;
                // }
            }

            tr:nth-child(3) {

                background-color: #fff !important;
                color: #000;
                // text-transform: uppercase;
                text-transform: capitalize;
                border-bottom: #cfd6de;
                box-shadow: inset 0 1px 0 0 #cfd6de;

                th :nth-child(1) {
                    background-color: #fff !important;
                    color: #000;
                }
            }
        }

        tbody {
            font-family: 'Roboto';
            font-size: .9rem;

            // tr:nth-child(odd){background: #d2deed;}
            td {
                padding: 2px 10px;
                margin: 0px;
                border: 1px solid #cfd6de;
                font-size: .7rem !important;

            }

            tr {
                border-bottom: 1px solid #37a6f8;
                border-left: 1px solid #37a6f8
            }

            td:first-child {
                text-align: start;
                box-shadow: inset -1px 0 0 0 #cfd6de;
                cursor: pointer;
            }

            // td:nth-child(3n+1) {
            //   }

            tr td:not(:first-child) {
                text-align: right;

            }

            // tr:last-child {
            //     // td {
            //     //     // background: #94b6d1;
            //     // }
            // }

            .sub-title {
                font-size: .8rem !important;
            }

            .sub-subtitle {
                font-size: .7rem !important;
            }

            .layer2 {
                margin-left: 1rem;
            }

            td:nth-child(2) {
                padding: 2px 10px;
                margin: 0px;
            }

            // td:nth-child(3){border-right: 1px solid #37a6f8}
            // td:nth-child(7){border-right: 1px solid #37a6f8}
            // td:nth-child(10){border-right: 1px solid #37a6f8}
            // td:nth-child(13){border-right: 1px solid #37a6f8}


            // td:nth-child(1){border-right: 1px solid #dddddd}
            // td:nth-child(4){border-right: 1px solid #dddddd}
            // td:nth-child(5){border-right: 1px solid #dddddd}
            // td:nth-child(6){border-right: 1px solid #dddddd}
            // td:nth-child(8){border-right: 1px solid #dddddd}
            // td:nth-child(9){border-right: 1px solid #dddddd}
            // td:nth-child(11){border-right: 1px solid #dddddd}
            // td:nth-child(12){border-right: 1px solid #dddddd}


            // tr:nth-child(7) {
            //     background-color: #646e7a !important;
            // }

            .text-bold {
                font-family: 'Roboto';
                font-weight: 700;
            }

            .darkred-bg {
                background-color: #282828 !important;
                color: #fff;
            }

            .lightblue-bg {
                background-color: #646e7a !important;
                color: #fff;
            }

            .gold-bg {
                background-color: #ffa51a;
                color: #fff;
            }

        }

        // .table-footer {
        //     border: 1px solid #37a6f8;
        //     color: #fff;
        //     position: sticky;
        //     bottom: 0;
        //     z-index: 99;
        //     font-family: 'FaktPro-Normal';
        //     font-size: 0.8rem;
        //     background-color: #337ab7;

        //     td:nth-child(2){border-right: 1px solid #37a6f8}
        //     td:nth-child(3){border-right: 1px solid #37a6f8}
        //     td:nth-child(7){border-right: 1px solid #37a6f8}
        //     td:nth-child(10){border-right: 1px solid #37a6f8}
        //     td:nth-child(13){border-right: 1px solid #37a6f8}


        //     td:nth-child(1){border-right: 1px solid #dddddd}
        //     td:nth-child(4){border-right: 1px solid #dddddd}
        //     td:nth-child(5){border-right: 1px solid #dddddd}
        //     td:nth-child(6){border-right: 1px solid #dddddd}
        //     td:nth-child(8){border-right: 1px solid #dddddd}
        //     td:nth-child(9){border-right: 1px solid #dddddd}
        //     td:nth-child(11){border-right: 1px solid #dddddd}
        //     td:nth-child(12){border-right: 1px solid #dddddd}


        //     .text-bold{font-family: 'FaktPro-Bold';}
        // }

    }
}

// .gross-tbl-scroll {  
//     overflow-y: auto;
//     display: block;
//     max-height: 75vh;
//     min-height: 15vh;   
//     // overflow-x: hidden;
//     background-color: #d5ebff;

.gross-tbl {

    thead {
        line-height: 1rem;
        position: sticky;
        top: 0;
        background-color: #d5ebff;
        z-index: 2;
        text-align: right;

        th {
            font-size: 0.8rem;

            padding: 0.5rem;
        }


        tr:nth-child(2) {
            font-size: 0.6vw;
            font-family: 'Roboto';
            background-color: #d5ebff;
            box-shadow: inset 0 -5px 0 #449df8;
        }


    }

    tbody {

        td {
            font-size: .8rem;
        }

        tr:nth-child(even) {
            background-color: #fff !important;
        }

        tr:nth-child(odd) {
            background-color: #fff !important;
        }

        td:nth-child(n+1) {
            text-align: right;
        }

        // tr:hover {
        //     background-color: #363b4f !important;
        //     color: white !important;
        //   }
        .comment {
            width: fit-content;
            background-color: #b6d3ec;
            border-radius: 0 15px 0 15px;
            padding: .2rem .5rem;
        }

    }
}

// }

.loader {
    border: 5px solid #c8bdbd;
    border-radius: 50%;
    border-top: 5px solid #2d91f1;
    width: 50px;
    height: 50px;
    animation: spin .7s linear infinite;
    top: 5rem;
    position: absolute;
    left: 11rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.popuppointer {
    cursor: pointer;
    color: #026df3 !important;
    text-decoration: underline;

    // pointer-events: none;
    // color: #000;
}

.popupdisable {
    pointer-events: none;
    color: #000;
    // text-decoration: underline;
}

::ng-deep .roModal .modal-content {
    border-radius: 20px !important;
    width: 100% !important;
    background-color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}
 
::ng-deep .roModal .modal-dialog {
    max-width: 1100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}
 
@media (max-width: 1100px) {
    ::ng-deep .roModal .modal-dialog {
        max-width: 90% !important;
    }
}

@media (min-width: 1400px) {
    ::ng-deep .compModal .modal-dialog {
        max-width: 1400px !important;
    }
}

