// New Styles

.popuppointer {
    cursor: pointer;
    color: #026df3;
    text-decoration: underline;

    // pointer-events: none;
    // color: #000;
}

.popupdisable {
    pointer-events: none;
    color: #000;
    // text-decoration: underline;
}

.unclickable {
    filter: grayscale(50%);
    cursor: not-allowed;
    opacity: 0.5;
    /* Adjust the opacity as needed */
}

::ng-deep .modal {
    // z-index: 99999;
}

// ::ng-deep .modal-dialog {
//     width: auto;
//     max-width: 90%;
//     /* adjust width */
//     left: 25px;
//     display: flex;
//     align-items: start;
//     z-index: 99999;
// }

// ::ng-deep .modal-content {
//     margin: 0 !important;
//     padding: 0 !important;
//     border-radius: 8px;
//     overflow: hidden;
//     box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
//     // top: 50px;
//     width: auto;
//     // min-width: 50%;
//     max-width: 100%;
// }

.hover {
    background-color: #d3ecff !important;
    color: #000 !important;
}

.gross-popup {
    width: 115%;

    .header {
        background: #ffffff;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 2px solid #edf1f4;
        position: relative;
        padding: 0.5rem 3rem;

        .close-btn {
            color: #d4d4d4;
            font-size: 1.2vw;
            position: absolute;
            right: 20px;
        }

        .title {
            font-family: "RobotoBold";
            font-size: 1.2vw;
            color: #333;
            line-height: 2rem;

            .slash {
                color: #449df8;
                padding-right: 5px;
            }
        }
    }

    .content {
        background-color: #f5f9f7;
        padding: 0rem;
        border-radius: 0px 0px 10px 10px;
        padding-bottom: 1rem;

        .det_cont {
            overflow: auto;
            // max-width: 100%;
            // max-height: 315px;
            // padding-right: .3rem;
            // margin-top: 0.50rem;
            height: calc(100vh - 395px) !important;


            table {
                width: 100%;
                margin: 0 0 .75rem 0;
                border-radius: 10px;
                background: #fff;
                font-family: 'Roboto';
                max-width: 100%;
                border-collapse: collapse;
                position: relative;
                // table-layout: fixed;

                thead,
                tbody,
                tr {
                    width: 100%;
                    // display: table;
                    // table-layout: fixed;
                }

                thead {
                    color: #000;
                    position: sticky;
                    top: 0px;
                    z-index: 2;
                    background: #0e5de6;
                }

                // tbody {
                //     display: block;
                //     max-height: 100px;  
                //     overflow-y: auto;
                // }

                th,
                td {
                    padding: 0.25rem 0.5rem;
                    text-align: left;
                    // font-size: .9rem;
                    font-size: .75rem;
                    text-transform: capitalize;
                    border: 1px solid #e0edff;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                thead th {
                    background: #D9E7FF;
                    border-left: 1px solid #8DB4FF;
                    font-size: .8rem;
                    text-align: left;
                    text-transform: capitalize;

                    // &:first-child {
                    //     border-radius: 10px 0 0 0;
                    //     border-left: none;
                    // }

                    // &:last-child {
                    //     border-radius: 0 10px 0 0;
                    // }

                    p {
                        label {
                            margin-left: 1rem;

                            img {
                                height: 15px !important;
                            }
                        }
                    }
                }

                tbody td {
                    a {
                        color: #0554EF;
                        text-decoration: none;
                        cursor: pointer;
                    }

                    .btn_grn {
                        background: #00D782;
                        color: #FFF;
                        text-align: center;
                        font-family: 'Roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                        border-radius: 12px;
                    }

                    .btn_ylw {
                        background: #F7CE46;
                        color: #000;
                        text-align: center;
                        font-family: 'Roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                        border-radius: 12px;
                    }

                    .btn_red {
                        background: #D6003D;
                        color: #FFF;
                        text-align: center;
                        font-family: 'Roboto';
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                        border-radius: 12px;
                    }

                    &:nth-child(1) {
                        background: transparent;
                    }

                    // &:nth-child(3) {
                    //     text-transform: lowercase;
                    // }
                }

                tbody tr:nth-child(even) {
                    background: #f9fbff;
                }

                tbody tr:last-child td:first-child {
                    border-bottom-left-radius: 10px;
                    border: none;
                }

                tbody tr:last-child td:last-child {
                    border-bottom-right-radius: 10px;
                    border: none;
                }
            }
        }

        // .first_table{
        //     width: 100%;
        // }

    }
}



.loader {
    border: 5px solid #c8bdbd;
    border-radius: 50%;
    border-top: 5px solid #2d91f1;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    top: 5rem;
    position: absolute;
    left: 11rem;
}

.sortable-header {
    position: relative;
    cursor: pointer;
}

.sort-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    /* Adjust as needed for spacing */
    border-style: solid;
    border-width: 6px 5px 0;
    border-color: transparent transparent transparent transparent;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0.5;
    /* Adjust as needed for visibility */
}

.sort-icon.asc {
    border-width: 0 5px 6px;
    border-color: transparent transparent #000 transparent;
}

.sort-icon.desc {
    border-width: 6px 5px 0;
    border-color: #000 transparent transparent transparent;
}

.details-popup {
    width: 80%;
    font-size: .8rem;
    font-family: 'RobotoMedium';

    .header {
        background: #ffffff;
        border-radius: 10px 10px 0px 0px;
        border-bottom: 2px solid #edf1f4;
        position: relative;
        padding: 0.5rem 3rem;

        .close-btn {
            color: #d4d4d4;
            font-size: 1.2vw;
            position: absolute;
            right: 20px;
        }

        .title {
            font-family: "RobotoBold";
            font-size: 1.3vw;
            color: #333;
            line-height: 2rem;

            .slash {
                color: #449df8;
                padding-right: 5px;
            }
        }
    }

    .content {
        background-color: #f5f9f7;
        padding: 0rem;
        border-radius: 0px 0px 10px 10px;
        padding-bottom: 1rem;

        .justify-content-between {
            font-family: 'RobotoMedium';
        }

        .badge-primary {
            font-family: 'RobotoMedium';
        }
    }
}

.ScrollOff::-webkit-scrollbar {
    width: 0px !important;
    height: 7px;
    background-color: #aaa;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1800px) {}

.loading {
    width: 400px;
    min-height: 150px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    // padding: 0.375rem 0.75rem 0.225rem 0.75rem !important;
    font-family: 'RobotoMedium';
    font-size: 0.9rem;
    border: 1px solid #e0e1e2 !important;
    // background: #f1f1f1;
    background-color: white;
    border-radius: 6px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

::ng-deep .roModal .modal-content {
    border-radius: 20px !important;
    width: 100% !important;
    background-color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}
 
::ng-deep .roModal .modal-dialog {
    max-width: 1100px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}
 
@media (max-width: 1100px) {
    ::ng-deep .roModal .modal-dialog {
        max-width: 90% !important;
    }
}