// Custome styles
.disabled-link {
  color: lightgray;
  pointer-events: none;
  /* prevents click */
  opacity: 0.5;
  cursor: not-allowed;
}

.nav-item.disabled {
  opacity: 0.6;
}

.closeMenu {
  display: flex;
  gap: 5px;
  position: sticky;
  bottom: 0px;
  right: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  text-align: right;
  align-items: center;
  //  justify-content: end;
  // display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 1rem 0;
}

.closeMenu img {
  // height: auto;
  cursor: pointer;
  // position: absolute;
  bottom: 20px;
  right: 8px;
}

.closeMenu span {
  height: auto;
  cursor: pointer;
  // position: absolute;
  bottom: 4px;
  left: 100px;
  right: 0;
}

.askAicustome {
  background: radial-gradient(111.84% 132.86% at 59.99% 103.12%,
      var(--colors-base-primary, #0554ef) 0%,
      var(--colors-common-purple-500, #8937e2) 100%);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: width 0.3s ease-in-out;
  //margin-left: 8px !important;
  border-radius: 10px !important;
}

// sidebar
.sidebar {
  width: 10.3rem;
  height: calc(100vh - 75px);
  background: #000;
  transition: width 0.3s ease-in-out;
  position: fixed;
  top: 75px;
  left: 0;
  //overflow: hidden;
  padding: 3.25rem 1rem 0 1rem;
  white-space: nowrap;
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;


  .nav {
    .nav-item {
      margin: 0.5rem 0;
      color: #A1A0A6;

      .nav-link {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-family: 'Roboto';
        color: white;
        padding: 0.5rem;
        //margin-left: 5px !important;
        //padding: 12px;
        text-decoration: none;
        //  transition: all 0.3s ease-in-out;
        //overflow: hidden;
        width: 100%;
        cursor: pointer;

        img {
          height: 20px;
          text-align: center;
          pointer-events: none;
        }

        .nav-text {
          //opacity: 0;
          margin-left: 15px;
          overflow: block;
          transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
        }

        // .nav-text-disable {
        //   opacity: 0;
        //   margin-left: 15px;
        //   //overflow: hidden;
        //   color:gray;
        //   transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
        // }
      }

      cursor: pointer;
    }
  }

  .nav-link .nav-text {
    transition: opacity 0.3s, width 0.3s;
  }

  &.collapsed {
    width: 70px; // new smaller width

    .nav-link .nav-text {
      //opacity: 0;
      width: 0;
      overflow: hidden;
      display: none;
      margin-left: 0 !important;
    }

    .submenu {
      left: 70px;
      transition: width 0.3s ease-in-out;
    }

    .submenu2 {
      left: 320px;
      transition: width 0.3s ease-in-out;
    }

    .closeMenu {
      // right: 12px;
      // justify-content: center; // adjust arrow position if needed

      img {
        height: auto;
        cursor: pointer;
        position: fixed;
        bottom: 16px;
        left: 17px;
        right: 0;
        transform: rotateY(180deg);

      }
    }

    .closeMenu span {
      visibility: hidden;
    }

    .askAicustome {
      // background: #000 !important;
    }

    .nav .nav-item {
      font-size: .5rem;
    }

    .nav .nav-item .nav-link {
      justify-content: center !important;
      // margin-left: 1px !important;
    }

    .playbook {
      background: transparent;

      h4 {
        display: none;
      }

      .playbook-inner {

        .playbook-item {
          display: flex;
          justify-content: center;

          span {
            display: none;
          }
        }
      }
    }
  }

  // Submenu styles //
  .submenu {
    position: fixed;
    top: 75px;
    left: 165px;
    width: 250px;
    height: calc(100vh - 75px);
    z-index: 1;
    background: #f4f6f9;
    color: #000;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    font-family: 'Roboto';

    .submenu-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;

      h4 {
        margin: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        line-height: 1;

        img {
          width: 18px;
          margin-right: 5px;
        }
      }
    }

    .submenu-list {
      list-style: none;
      padding: 0;
      margin-top: 2.5rem;
      font-family: 'Roboto';

      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 5px 2px 10px;
        font-size: 0.9rem;
        cursor: pointer;
        margin-top: 0.2rem;

        &.active {
          background: #e3eaf3;
          font-weight: bold;
        }
      }

      li .count {
        color: #07071c !important;
        background: #e3eaf3;
        padding: 2px 5px;
        border-radius: 5px;
      }

      li:hover {
        background: #e3eaf3;
        border-radius: 5px;
        padding: 2px 5px 2px 10px;
        border-radius: 5px;
      }

      li.active {
        background: #e3eaf3;
        font-weight: bold;
      }
    }
  }

  .submenu2 {
    position: fixed;
    top: 75px;
    left: 415px;
    min-width: 250px;
    max-width: 350px;

    height: calc(100vh - 75px);
    z-index: 1;
    background: #ffffff;
    color: #000;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    font-family: 'Roboto';

    img {
      height: 10px;
      margin-bottom: 1.5rem;
    }

    .submenu-list {
      list-style: none;
      padding: 0;
      margin-top: 3.4rem;
      font-family: 'Roboto';

      li {
        display: flex;
        justify-content: start;
        padding: 2px 5px 2px 10px;
        font-size: 0.9rem;
        cursor: pointer;
        margin-top: 0.2rem;
      }

      li:hover {
        text-decoration: underline;
        color: #07071c !important;
      }
    }
  }

  // &:hover .nav-link .nav-text {
  //   opacity: 1 !important;
  //   width: fit-content;
  //   overflow: visible;
  //   cursor: pointer;
  // }
}

@media(min-width:1600px) {
  .closeMenu {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 100%;
    background: #000;
    // text-align: right;
    padding: 1rem;

    img {
      cursor: pointer;
    }
  }
}

.active-submenu {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.static-link {
  background: radial-gradient(137.83% 97.94% at -14.54% 143.13%,
      #d6003d 0%,
      rgba(250, 86, 7, 0.1) 100%),
    radial-gradient(75.94% 96.82% at 104.97% -6.25%,
      rgba(137, 55, 226, 0.8) 0%,
      rgba(152, 80, 230, 0) 100%),
    radial-gradient(540.94% 183.98% at 42.6% 92.5%,
      #0554ef 0%,
      rgba(5, 84, 239, 0) 100%),
    #0554ef;
  border-radius: 6px;
  /* optional rounded corners */
  color: #fff !important;
  /* text color */
  padding: 8px 12px;
  /* adjust spacing */
  display: flex;
  align-items: center;
  gap: 8px;
}


.playbook {
  margin-top: 1rem;
  background: var(--colors-base-primary, #52525B);
  border-radius: 0.75rem;
  padding: .5rem 0 0;
  width: 100%;

  h4 {
    color: var(--colors-base-default-300, #D4D4D8);
    font-family: 'Roboto';
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    text-align: center;
  }

  .playbook-inner {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    border-radius: var(--layout-radius-rounded-medium, 0.75rem);
    background: var(--colors-base-default-800, #27272A);
    padding: 0.5rem 0;

    .playbook-item {
      display: flex;
      gap: .75rem;
      align-items: center;
      height: 2.5rem;
      padding: 0.5rem;
      color: var(--colors-base-primary-foreground, #FFF);
      font-family: 'Roboto';
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      cursor: pointer;
      margin: 0;
    }

  }
}








.skeleton-item {
  margin: 0.5rem 0;
  color: #A1A0A6;
  cursor: pointer;
}

.skeleton-link {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0.3rem 0;
  cursor: default;
  pointer-events: none;
}

.skeleton-icon {
  width: 25px;
  height: 25px;
  border-radius: 14px;
  background: linear-gradient(45deg,
      #8b8b8b9a 25%,
      #c9c9c9c5 37%,
      #999999b2 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  flex-shrink: 0;
}

.skeleton-text {
  width: 100px;
  height: 25px;
  border-radius: 4px;
  background: linear-gradient(45deg,
      #8b8b8b9a 25%,
      #c9c9c9c5 37%,
      #999999b2 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

.skeleton-title {
  margin-left: 16px;
  width: 100px;
  height: 14px;
  background: linear-gradient(45deg,
      #8b8b8b9a 25%,
      #c9c9c9c5 37%,
      #999999b2 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 4px;
  margin-bottom: 12px;

}

.skeleton-img {
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: linear-gradient(45deg,
      #8b8b8b9a 25%,
      #c9c9c9c5 37%,
      #999999b2 63%);
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  flex-shrink: 0;
}