//////////////////////////////////// REPORT BAR ////////////////////////////////////////
.report-bar {


  .filter-dropdowns {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.3rem;
      padding-bottom: 0.5rem;
      border-radius: 0.5rem;
      overflow-x: auto;
      overflow-y: hidden;

      .dropdown {
                   .dropdown-toggle {
                  background-color: transparent;
                  color: #0554ef;
                  border: none;
                  border-radius: 12px;
                  padding: 6px 12px;
                  font-size: .875rem;
                  line-height: 1.25rem;
                  font-family: 'RobotoMedium';
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  transition: background-color 0.3s ease;

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }

                  .arrow {
                      font-size: 10px;
                  }
              }
      }
  }

  .timeframe {
      position: fixed;
      z-index: 1060;
      // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  }
  .date-filter-card {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    width: fit-content;
    font-family: 'Roboto';
    min-width: 160px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
  
  .outline-button {
    width: 100%;
    padding: 8px;
    border: 1.5px solid #0554ef;
    border-radius: 12px;
    background-color: #fff;
    color: #0554ef;
    font-size: 12px;
    line-height: 16px;
    font-family: 'Roboto';
    cursor: pointer;
    transition: background-color 0.2s ease;
    i{
      font-size: 18px;
    }
    &.active {
      background-color: #0554ef;
      color: white;
      // border-radius: 50px;
      // border: 1px solid #0554ef;
    }
    &.inactive {
      color: #0554ef;
      background-color: white;
      // border-radius: 50px;
      // border: 1px solid #0554ef;
    }
    // &:hover {
    //   background-color: #0554ef;
    //   border-radius: 50px;
    //   color: white;
    // }
  
    &.custom-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
  }
  .reportstores-card {
      background: #fff;
      padding: .75rem .5rem;
      border-radius: 18px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      width: max-content;
      // position: sticky;
      z-index: 1050;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: fixed;

      .groups,
      .stores {
          height: 100%;
      }

      .groups {
          width: auto;
          flex-shrink: 0;
      }

      .stores {
          flex: 1;
          overflow-x: auto;
          border-left: 1px solid #dbe7ff;
      }

      .groups-wrapper,
      .stores-wrapper {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
      }

      .stores-wrapper {
          padding: 0rem 1rem 1rem 1rem;

          .allstores {
              margin: 5px 0 12px 0;

              a {
                  font-family: "Roboto";
                  font-size: .8rem;
                  line-height: 1.25rem;
                  cursor: pointer;
              }
          }

          .store-columns {
              display: grid;
              grid-auto-flow: column;
              grid-template-rows: repeat(8, auto);
              grid-auto-columns: 150px;
              gap: 0.5rem 1rem;
              max-width: calc(6 * 118px);
              overflow-x: auto;

              .store-button {
                  width: 100%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-align: center;
                  font-family: "Roboto";
                  font-size: .8rem;
                  border-radius: .75rem;
                  padding: .5rem;
                  line-height: 1rem;
                  text-transform: capitalize;

                  &.active {
                      background-color: #0554ef;
                      color: white;
                      // border-radius: 50px;
                      // border: 1px solid #0554ef;
                  }

                  &.inactive {
                      color: #0554ef;
                      background-color: white;
                      // border-radius: 50px;
                      // border: 1px solid #0554ef;
                  }

                  // &:hover {
                  //     background-color: #dbe7ff !important;
                  //     border-radius: 50px;
                  //     color: #0554ef;
                  // }
              }

              .btn-check:focus+.btn-outline-primary,
              .btn-outline-primary:focus {
                  box-shadow: none !important;
                  outline: none !important;
              }
          }
      }

      .groups-wrapper {
          .group-columns {
              display: grid;
              grid-auto-flow: column;
              grid-template-rows: repeat(9, auto);
              grid-auto-columns: 118px;
              gap: 0.5rem 1rem;
              max-width: calc(6 * 118px);
              overflow-x: auto;
          }

          .group-button {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-family: "RobotoMedium";
              font-size: .8rem;
              border-radius: .5rem;
              padding: .5rem .75rem;
              line-height: 1rem;
              text-align: left;
              color: #18181B;

              &.active {
                  background-color: #0554ef;
                  color: white;
                  // border-radius: 50px;
                  // border: 1px solid #0554ef;
              }

              &.inactive {
                  color: #0554ef;
                  background-color: white;
                  // border-radius: 50px;
                  // border: 1px solid #0554ef;
              }

              // &:hover {
              //     background-color: #dbe7ff !important;
              //     border-radius: 50px;
              //     color: #0554ef;
              // }
          }
      }
  }

  .negative {
      color: red;
  }

}

  .apply-button {
      background-color: #0554ef;
      color: #c6dbff;
      border: none;
      border: none;
      padding: 6px 24px;
      font-family: "RobotoMedium";
      font-size: .8rem;
      line-height: 1.25rem;
      border-radius: 12px;
      transition: all 0.3s ease;

      &:hover {
          border-radius: 50px;
          background-color: #0554ef;
          cursor: pointer;
      }

      &:focus {
          outline: none;
      }
  }

//////////////////////////////////// SALES PERSON GRID ////////////////////////////////////////

.negative {
  color: red;
}
.performance-scorecard {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  height: calc(100vh - 135px);
  overflow: auto;
  max-width: 100%;

  .table {
    border-collapse: collapse;
    text-transform: capitalize;

    th,
    td {
      white-space: nowrap;
      vertical-align: top;
      padding: 8px;
      margin: 0;
      box-shadow: inset 0 0 0 0.4px #e0edff;
      border-bottom: none;
    }

    th:first-child,
    td:first-child {
      position: sticky;
      left: 0;
      z-index: 103;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    th:not(:first-child),
    td:not(:first-child) {
      text-align: end;
    }

    thead {
      position: sticky;
      top: 0;
      z-index: 99;
      font-family: 'Roboto';
      font-size: 0.75rem;

      th {
        text-align: center;
      }

      tr:nth-child(1) {
        background-color: #0554ef !important;
        color: #fff;

        th {
          border: none;
          box-shadow: none;
          font-size: .875rem;
          font-family: 'Roboto';
          font-weight: 700;

          span {
            font-size: .875rem;
            font-family: 'RobotoLight';
            font-weight: lighter;
          }
        }

        th:first-child {
          background-color: #0554ef;
          z-index: 103;
        }

        th:not(:first-child) {
          text-align: center !important;
          // box-shadow: inset 1px 0 0px 0 #cfd6de;
        }

        th:nth-child(2) {
          background-color: #0554ef;
          z-index: 102;
        }
      }

      tr:nth-child(2) {
               background-color:  #4584ff !important;
        color: #fff;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: .875rem;

        th {
          text-align: center;
          padding: 4px 8px;
        }

      th:first-child {
          background-color: #4584ff;
          z-index: 103;
          text-align: center;
        }

        th:nth-child(2) {
          background-color: #4584ff;
          z-index: 102;
        }
      }
    }

    tbody {
      font-family: 'Roboto';
      font-size: 1rem;

      .member-row td:first-child {
        font-family: 'Roboto';
        padding-left: 1rem;
        text-align: left;
        z-index: 9;
      }

      .member-row td {
        padding: 4px 8px;
        font-family: 'Roboto';
      }

      tr:nth-child(even) {
        background-color: #f9fbff !important;
      }

      tr:nth-child(odd) {
        background-color: #ffffff;
      }

      td:first-child {
        font-family: 'RobotoMedium';
        text-align: right;
        z-index: 9;

        .MemCount {
          color: #125df0;
        }
      }

      .bdr-tp {
        border-top: 1px solid #0554ef;
      }
      .bdr-bt {
        border-bottom: 1px solid #0554ef;
      }

      td:not(:first-child) {
        text-align: end;
      }

      // td:nth-child(1),
      // td:nth-child(4),
      // td:nth-child(7),
      // td:nth-child(10),
      // td:nth-child(11) {
      //   box-shadow: inset 0 0.4px 0 0 #e0edff, inset -1px 0 0 0 #0554ef, inset 0 -0.4px 0 0 #e0edff,
      //     inset 0.4px 0 0 0 #e0edff;
      // }

            th:nth-child(3),
      th:nth-child(8),


      td:nth-child(3),
      td:nth-child(8) {
        box-shadow:
          inset 0 0.4px 0 0 #e0edff,
          inset -4px 0 0 0 #e0edff,
          inset 0 -0.4px 0 0 #e0edff,
          inset 0.4px 0 0 0 #e0edff !important;
      }
      .greaterThanVal {
        color: green;
        font-family: 'RobotoBold';
      }
      .positive-bg {
        background-color: #c2f1c8 !important;
        color: #000 !important;
        cursor: default;
      }
      .negative-bg {
        background-color: #f1c2c2 !important;
        color: #000 !important;
        cursor: default;
      }

      .sticky-bottom-row {
        position: sticky;
        bottom: 0;
        background-color: #fff;
        z-index: 10;
        box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
      }
    }

    .spacer {
      border: 1px solid #0554ef;
      min-height: 20px;
    }

    .hidden {
      display: none !important;
    }
  }
}

.bg-white {
  background: #ffffff !important;
}

.hidden {
  display: none !important;
}

.disable {
  pointer-events: none !important;
  // display: none;
  color: #363b4f;
}

.Selectedrow {
  background-color: #363b4f !important;
  color: white !important;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 1cm; /* Adjust the margin as needed */
  }
  .NavBarHide {
    display: none;
  }
  #ServiceAdvisorRankings {
    .performance-scorecard {
      width: 100%;
      height: auto;
      table,
      td,
      th {
        border-collapse: collapse;
      }
      tr:nth-child(1) th {
        .HideItems {
          display: none;
        }
      }
      th {
        padding: 2px 4px;
        font-size: 0.75vw;
      }
      tr th:last-child {
        padding-right: 6px;
      }
      td {
        padding: 2px 4px;
        font-size: 0.75vw;
      }
      .HideItems {
        display: none;
      }
    }
  }
}
  .content-wrapper {
    margin-left: 149px; 
    background: radial-gradient(176.81% 119.6% at 21.24% 110.83%, #05F 0%, rgba(0, 85, 255, 0.10) 80.29%), radial-gradient(460.55% 83.6% at -4.76% 100%, rgba(0, 85, 255, 0.90) 0%, rgba(0, 85, 255, 0.12) 91.35%), radial-gradient(117.09% 53.18% at 71.73% 122.78%, #05F 11.81%, rgba(15, 89, 247, 0.10) 100%), #001D57;
    height: 300px; 
    margin-top: 59px;    
  }
.divBold {
  font-family: 'RobotoBold' !important;
}
